/* custom CSS */

:root {
  /* Farver start */

  --primary: #a2cbd8;
  --primary-light: #b9d8e4;
  --secondary: #122e71;
  --secondary-light: #05407e;

  --tertiary: #4b1c31;
  --tertiary-light: #4b1c3183;
  /* tjek om 50% opacitet på tertiary-light er ok */

  --contrast-light: #ecffd4;
  /* tjek om 50% opacitet på tertiary-light er ok */
  --contrast: #e3f8c9;
  --contrast-dark: #d3da92;

  --text-color: #4b1c31;
  /* Farver slut */

  /* Fonte start */
  --font-family-istok: "Istok Web", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --font-family-instrument: "Instrument Sans", sans-serif;
  /* --font-weight-regular: 400; nødvendig? bruges ikke*/
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-style: normal;

  /* H1 */
  /* Tilpas størrelser når jeg har sitet oprettet ift. notat */
  /* mobil: s.40 i figma */
  /* desk: s.60 i figma */
  --h1-size: 40px;
  --h1-size-desk: 60px;

  /* H2 */
  /* mobil: s.20 i figma */
  /* desk: s.30 i figma */
  --h2-size: 23px;
  --h2-size-desk: 30px;

  /* H3 */
  /* mobil: s.16 i figma */
  /* desk: s.24 i figma */
  --h3-size: 18px;
  --h3-size-desk: 24px;

  /* P */
  /* mobil: s.14 i figma */
  /* desk: s.14?? i figma */
  --text-size: 16px;
  --text-size-desk: 16px;
  --text-line-height: 2rem;
}

/* Fonte slut */
