/* Forside CSS */
/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

#velkomstbillede {
  display: grid;
  place-items: center;
  justify-content: center;
  max-width: 600px;
  border-radius: 4px;
  border: 2px solid var(--secondary-light);
  margin-top: 10px;
}

p.hilsen {
  justify-self: end;
}

.grid_2-1 {
  display: grid;

  grid-template-columns: 1fr;
  gap: 20px;
  align-items: start;
  justify-items: center;
  padding: 20px;
}

/*************** accordian temaoversigt start *********************/
.tema-sektion {
  display: grid;
  grid-template-columns: min(100%, 65ch);
  place-content: center;
  gap: 2px;
  padding: 20px;
}

details {
  outline: 2px solid var(--secondary);
  border-radius: 4px;
  background-color: var(--primary-light);
}

::details-beskrivelse {
  height: 0;
  overflow: clip;
  transition: 0.3s allow-discrete;
}

[open]::details-beskrivelse {
  height: auto;
}

summary {
  background: var(--secondary-light);
  color: var(--contrast-light);
  cursor: pointer;
  padding: 1rem;
  border-radius: 4px;
}

summary::marker {
  content: none;
}
.beskrivelse {
  padding: 1rem;

  p {
    margin: 0;
  }
}

@media (min-width: 800px) {
  #velkomstbillede {
    display: grid;
    justify-self: center;
  }

  p.hilsen {
    justify-self: start;
  }

  .tema-sektion {
    place-content: center;
  }

  .tema-sektion h2 {
    text-align: center;
  }

  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
