/* Tema CSS */
/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/* tema 2 start */
/* tema 2 slut */

/* tema 3 start */
/* tema 3 slut */

/* tema 4 start */
/* tema 4 slut */

/* tema 5 start */
/* tema 5 slut */
