/* Tema CSS */
/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/* tema 2 start */
.loesning {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}
/* tema 2 slut */

/* tema 3 start */
.grid_1-1 {
  display: grid;
  gap: 10px;
  align-items: start;
  padding: 20px;
}

.billede {
  display: grid;
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 20px;
}

video {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  border: 5px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

/* Desk responsiv her */
@media (min-width: 800px) {
  .grid_1-1 {
    grid-template-columns: 1fr 1fr;
  }

  .billede {
    display: grid;
    max-width: 500px;
    justify-self: center;
    max-width: 500px;
  }

  video {
    display: block;
    width: 500px;
  }
}
/* tema 3 slut */

/* tema 5 start */
/* tema 5 slut */
