/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************************************************/

.grid_2col_1-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.tema-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border: 2px solid var(--secondary);
  border-radius: 4px;
  text-align: left;
  align-items: center;
}

@media (width>= 800px) {
  .grid_2col_1-1 {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .tema-box {
    display: inline-block;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }
  .tema-box :last-child {
    margin-top: auto;
  }
}
